---

---

<a href="/" class="flex items-center gap-3 group">
  <img src="/images/logo.svg" alt="Artem Korolov Logo" class="w-10 h-10" />

  <div class="flex flex-col">
    <span class="text-lg font-medium text-white tracking-tight leading-none">
      Artem Korolov
    </span>
    <span class="text-[10px] font-medium text-gray-400 tracking-[0.2em] uppercase mt-1">
      Web Developer
    </span>
  </div>
</a>