<button
	id="menu-toggle"
	class="md:hidden p-3 text-text-main transition-colors"
	aria-label="Меню"
>
	<svg
		id="hamburger-icon"
		class="w-8 h-8 block"
		fill="none"
		stroke="currentColor"
		viewBox="0 0 24 24"
	>
		<path
			stroke-linecap="round"
			stroke-linejoin="round"
			stroke-width="2"
			d="M4 6h16M4 12h16m-7 6h7"></path>
	</svg>

	<svg
		id="close-icon"
		class="w-8 h-8 hidden"
		fill="none"
		stroke="currentColor"
		viewBox="0 0 24 24"
	>
		<path
			stroke-linecap="round"
			stroke-linejoin="round"
			stroke-width="2"
			d="M6 18L18 6M6 6l12 12"></path>
	</svg>
</button>
