---
const links = [
	{
		name: "Про мене",
		href: "#about",
	},
	{
		name: "Проєкти",
		href: "#projects",
	},
	{
		name: "Відгуки",
		href: "#reviews",
	},
	{
		name: "Контакти",
		href: "#contact",
	},
];
---

{
	links.map((link) => (
		<a href={link.href} class="hover:text-primary transition-colors">
			{link.name}
		</a>
	))
}
