---
const links = [
	{
		name: "Проєкти",
		href: "/projects",
	},
	{
		name: "Відгуки",
		href: "/testimonials",
	},
	{
		name: "Про мене",
		href: "/about",
	},
	{
		name: "Контакти",
		href: "/contact",
	},
];
---

{
	links.map((link) => (
		<a href={link.href} class="text-sm text-subtle hover:text-text-main transition-colors">
			{link.name}
		</a>
	))
}
