---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
	title="Веброзробка для бізнесу | Артем Корольов"
	description="Допомагаю малому бізнесу створювати сучасні, швидкі, зручні вебсайти та вебзастосунки"
>
	<main>
		<h1>Створюю цифрові продукти для вашого бізнесу</h1>
	</main>
</BaseLayout>
