---
import NavLinks from "../ui/NavLinks.astro";
import Button from "../ui/Button.astro";
import ActionLink from "../ui/ActionLink.astro";
---

<div
	id="mobile-menu"
	class="fixed inset-0 top-20 z-40 hidden bg-[#08090a]/95 backdrop-blur-xl border-t border-white/5 p-8 md:hidden flex flex-col justify-between"
>
	<nav
		class="flex flex-col items-center gap-6 pt-8 text-sm uppercase tracking-[0.2em] text-white/70"
	>
		<NavLinks />
	</nav>

	<div
		class="flex flex-col items-center pb-12 gap-6 border-t border-white/5 pt-8"
	>
			<Button href="/#contact" variant="secondary">Обговорити проєкт</Button>
	</div>
</div>
