---
import Container from "../ui/Container.astro";
import Logo from "../ui/Logo.astro";
import NavMenu from "./NavMenu.astro";
import Button from "../ui/Button.astro";
import MenuToggle from "../ui/MenuToggle.astro";
import MobileMenu from "../partials/MobileMenu.astro";
---

<header class="border-b border-border bg-surface">
	<Container>
		<div class="flex h-20 items-center justify-between">
			<Logo />

			<div class="hidden md:flex flex-1 justify-center">
				<NavMenu />
			</div>

			<div class="hidden md:flex items-center">
				<Button href="#contact">Обговорити проєкт</Button>
			</div>

			<MenuToggle />
		</div>
	</Container>
</header>

<MobileMenu />

<script>
	import { initMenu } from "../scripts/mobileMenu";

	initMenu();
</script>
