---

---

<nav class="hidden md:flex">
	<ul class="flex gap-8">
		<li>
			<a
				href="#about"
				class="text-sm text-text-muted hover:text-text-main transition-colors"
			>
				Про мене
			</a>
		</li>
		<li>
			<a
				href="#projects"
				class="text-sm text-text-muted hover:text-text-main transition-colors"
			>
				Проєкти
			</a>
		</li>
		<li>
			<a
				href="#blog"
				class="text-sm text-text-muted hover:text-text-main transition-colors"
			>
				Блог
			</a>
		</li>
	</ul>
</nav>
 