---
import Container from "../ui/Container.astro";
import SectionHeader from "../ui/SectionHeader.astro";
import ActionLink from "../ui/ActionLink.astro";
---

<section id="about-teaser" class="py-32 border-y border-line">
  <Container>
    <div class="max-w-xl mx-auto text-center space-y-12">
      <SectionHeader
        center
        title="Про розробника"
        subtitle="Вітаю, я Артем Корольов. Frontend-розробник. Допомагаю створювати швидкі, сучасні вебрішення — від ідеї до готового продукту"
      />

      <ActionLink href="/about" text=" Мій досвід та фокус →" />
    </div>
  </Container>
</section>
