---
import Container from "../ui/Container.astro";
import WorldMap from "../components/WorldMap.astro";
import SectionHeader from "../ui/SectionHeader.astro";

const clients = [
	{ x: 1152, y: 195, label: "Україна" },
	{ x: 1048, y: 430, label: "Нігерія" },
	{ x: 1035, y: 148, label: "Данія" },
];
---

<section id="map" class="py-32  border-t border-line">
	<Container>
		<SectionHeader
			title="Міжнародний досвід"
			subtitle=`Реалізовані проєкти для клієнтів із ${clients.length} країн світу`
		/>

		<div class="max-w-6xl mx-auto">
			<WorldMap markers={clients} />
		</div>
	</Container>
</section>
