---
import Container from "../ui/Container.astro";
import Button from "../ui/Button.astro";
import SectionHeader from "../ui/SectionHeader.astro";
import ActionLink from "../ui/ActionLink.astro";
---

<section id="contact" class="py-32 border-t border-line">
  <Container>
    <div class="max-w-xl mx-auto text-center space-y-12">
      <SectionHeader
        center
        title="Зв'язок"
        subtitle="Маєте ідею або власний проєкт? Напишіть мені в Telegram чи на пошту — обговоримо всі деталі"
      />

      <div class="flex flex-col mb-12 sm:flex-row justify-center gap-4">
        <Button href="https://t.me/artm_korolov">Telegram</Button>
        <Button href="mailto:artemkorolov24@gmail.com" variant="secondary">
          Email
        </Button>
      </div>

      <ActionLink href="/contact" text="Детальніше про контакти →" />
    </div>
  </Container>
</section>
